
h1 {
  text-align: center;
}

/* Add User Details Page */

/* .form-box {
  border: 2px solid black;
  border-radius: 10px;
  width: 616px;
  height: 100%;
  padding: 15px 20px;
  margin: 35px 320px;
  background-color: lightskyblue;
} */

.invalid {
  border: 1px solid red;
}
.form-box {
  border: 2px solid black;
  border-radius: 10px;
  width: 616px;
  height: 100%;
  padding: 15px 20px;
  margin: 35px 320px;
  background-color: lightgray;
}
#add-submitbtn{
  margin-top: 15px;
}

label{
  margin-bottom: 5px;
}

.Place{
  margin-top: 8px;
}

.city{
  margin-top: 5px;
}

.add-userdetail-h1 {
  padding-top: 22px;
}

/* Data Table */

.userdata-list {
  width: 100px;
}
.table {
  width: 300px;
  height: 335px;
  margin: 4px 200px;
}

#datalist-h1 {
  margin-top: 14px;
}

/* Search */

.search-input {
  width: 500px;
  height: 40px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 3px 394px;
}

/* Update */

#updateform-h1 {
  margin-top: 14px;
}

#update-submitbtn{
  margin-top: 15px;
}


/* Delete */

#delete-btn {
  height: 30px;
  width: 60px;
  font-size: 13px;
  padding: 5px;
}

/* Pagination */

.pagination button.active {
  font-weight: 900;
  border-color: #101010;
  background: #ffe400;
  color: #101010;
}

.pagination-box {
  display: grid;
  place-items: center;
}

/* #pagination {
  display: flexbox;
  flex-direction: row;
  margin: 4px 10px;
} */


